.catalog-edditional {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 30px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.catalog-edditional__wrapper {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 896px;
    margin: 0;
  }
}

.catalog-edditional__list {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }
}

.catalog-edditional__present {
  align-self: flex-end;
}
