.cooperation {
  background-color: @color-basic-grey;

  box-sizing: border-box;
  padding: 26px 20px;
  margin: 0 auto;
  min-height: 112px;

  @media (min-width: @tablet-width) {
    padding: 56px 70px;
    min-height: 199px;
  }

  @media (min-width: @desktop-width) {
    padding: 56px 80px;
    width: 565px;
    min-height: 198px;
  }
}

.cooperation--index {
  background-color: @color-white;
}

.cooperation__title {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @color-black-2;
  text-transform: uppercase;
}

.cooperation__address {
  font-family: @font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @color-dark-grey;
  font-style: normal;
}
