.edditional-list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    border: 1px solid @color-special-grey;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    border: none;
    border-top: 1px solid @color-special-grey;
    margin: 0;
  }
}
