.example {
  background-color: @color-light-grey;

  padding: 20px;
  padding-top: 25px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
    background: linear-gradient(to bottom, @color-white 57%, @color-light-grey 22%, @color-light-grey 44%, @color-light-grey 44%);
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 26px;
    background: linear-gradient(to bottom, @color-white 26%, @color-light-grey 22%, @color-light-grey 44%, @color-light-grey 44%);
  }
}

.example__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "description"
    "parametrs"
    "range";

  @media (min-width: @tablet-width) {
    width: 768px;
    grid-template-columns: 1fr;
    grid-template-areas: "description"
      "parametrs"
      "range";
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-bottom: 0;
    grid-template-columns: 600px 654px;
    grid-template-rows: 306px 200px;
    gap: 66px 156px;
    grid-template-areas: "description range"
      "parametrs range";
  }
}

.example__wrapper-description {
  grid-area: description;
  padding-left: 21px;
  width: 301px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 738px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 147px;
  }
}

.example__title {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    width: 325px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 146px;
    width: 325px;
  }
}

.example__parametrs {
  grid-area: parametrs;
  padding-left: 21px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 145px;
    padding-right: 0;
  }
}

.example__range {
  grid-area: range;

  @media (min-width: @tablet-width) {
    min-height: 617px;
  }

  @media (min-width: @desktop-width) {
    height: 616px;
  }
}

.example__description {
  font-family: @font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-dark-grey;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    width: 436px;
  }
}

.example__cost {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  width: 235px;
  padding-left: 46px;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: right;
    margin: 0;
    width: 225px;
    padding-left: 0;
    padding-top: 11px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 327px;
    font-size: 20px;
    text-align: left;
    margin: 0;
  }
}

.example__cost-description {
  display: inline-block;
  padding-right: 5px;

  @media (min-width: @tablet-width) {
    padding-right: 2px;
    padding-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 4px;
  }
}

.example__cost-price {
  margin: 0;
  display: inline-block;
}

.example__button {
  height: 40px;
  left: 141px;
  top: 96px;
  z-index: 2;
  position: relative;
  border-radius: 50%;
  border: none;
  padding: 0;

  &::before {
    z-index: -1;
    height: 256px;
    width: 4px;
    border-radius: 2px;
    content: "";
    position: absolute;
    top: -110px;
    left: 47%;
    background-color: @color-dark-grey-1;

    @media (min-width: @tablet-width) {
      top: -237px;
      height: 512px;
    }

    @media (min-width: @desktop-width) {
      top: -237px;
      height: 512px;
      left: 39%;
    }
  }

  @media (min-width: @tablet-width) {
    left: 364px;
    top: 329px;
  }

  @media (min-width: @desktop-width) {
    left: 312px;
    top: 269px;
  }

  &:hover::before {
    background-color: @color-basic-green;
  }

  &:active {
    opacity: 60%;
  }
}

.example__button:hover {
  .example__thumb {
    path {
      stroke: @color-basic-green;
      fill: @color-basic-green;
    }

    rect {
      stroke: @color-basic-green;
    }
  }
}
