.form-checkbox {
  border: none;
}

.form-checkbox__title {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @color-black;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
  position: relative;
  background-color: @color-white;
  display: inline-block;

  padding-right: 23px;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 50%;
    left: 0;
    background-color: @color-basic-green;
    width: 1000%;
    height: 2px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 62px;
    padding-right: 41px;
    padding-left: 40px;
    margin-left: -41px;

    &::before {
      left: -200%;
      top: 60%;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 62px;
    padding-right: 40px;
    padding-left: 40px;

    &::before {
      left: -200%;
    }
  }
}

.form-checkbox__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 280px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 221px 221px;
    gap: 42px 123px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 221px 221px 221px 221px;
    gap: 32px 104px;
    margin-bottom: 64px;
  }
}

.form-checkbox__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 22px;
  }

  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.form-checkbox__input:hover + .form-checkbox__control-mark {
  outline: 1px solid @color-special-grey-3;
}

.form-checkbox__input:focus-visible + .form-checkbox__control-mark {
  outline: 1px @color-black solid;
}

.form-checkbox__input:disabled + .form-checkbox__control-mark {
  opacity: 0.3;
}

.form-checkbox__input:disabled ~ .form-checkbox__product {
  opacity: 0.3;
}

.form-checkbox__input:checked + .form-checkbox__control-mark::before {
  position: absolute;
  background-color: @color-basic-green;
  content: "";
  transform: rotate(45deg);
  top: 17px;
  left: 5px;
  width: 11px;
  height: 2px;

  @media (min-width: @tablet-width) {
    top: 22px;
    left: 5px;
    width: 14px;
    height: 2px;
  }

  @media (min-width: @desktop-width) {
    top: 22px;
    left: 5px;
    width: 14px;
    height: 2px;
  }
}

.form-checkbox__input:checked + .form-checkbox__control-mark::after {
  position: absolute;
  background-color: @color-basic-green;
  content: "";
  transform: rotate(-45deg);
  top: 14px;
  right: 2px;
  width: 17px;
  height: 2px;

  @media (min-width: @tablet-width) {
    top: 19px;
    right: 4px;
    width: 23px;
    height: 2px;
  }

  @media (min-width: @desktop-width) {
    top: 19px;
    right: 4px;
    width: 23px;
    height: 2px;
  }
}

.form-checkbox__control-mark {
  width: 30px;
  height: 30px;
  outline: 1px solid @color-special-grey-1;
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -1px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 40px;
    height: 40px;
    left: -3px;
  }
}

.form-checkbox__product {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-black;
  padding-left: 46px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 59px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 57px;
  }
}
