.functional-food {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 302px;
    left: 0;
    background-color: fade(@color-basic-green, 85%);
    z-index: 6;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 302px;
    background-image: url("../img/index-cat-background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-cat-background-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      display: block;
      content: "";
      width: 50%;
      height: 694px;
      position: absolute;
      left: 50%;
      top: -223px;
      background-color: fade(@color-basic-green, 85%);
      z-index: 3;
    }

    &::after {
      display: block;
      //content: url("../img/index-cat-background-desktop.jpg");
      background-image: url("../img/index-cat-background-desktop.jpg");
      background-size: cover;
      position: absolute;
      width: 50%;
      left: 50%;
      top: -223px;
      min-height: 694px;
      z-index: 2;
    }

    @media (min-resolution: 2dppx) {
      &::after {
        background-image: url("../img/index-cat-background-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }
}

.functional-food__wrapper {
  margin: 0 auto;
  background-repeat: no-repeat;
  color: @color-white;
  font-family: @font-oswald;

  padding: 20px;
  padding-top: 27px;
  padding-bottom: 0;
  width: 320px;
  position: relative;
  z-index: 6;

  @media (min-width: @tablet-width) {
    min-width: 534px;
    min-height: 810px;

    background-image: none;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    background-image: none;
    min-width: 1065px;
    min-height: 442px;
    padding: 0;
  }
}

.functional-food__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  z-index: 6;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @color-black;
    margin-bottom: 41px;
    width: 416px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    color: @color-black;
    margin-bottom: 40px;
  }
}

.functional-food__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 302px;
  text-align: center;
  z-index: 5;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @color-black;
    margin-bottom: 49px;
    text-align: left;
    padding-left: 3px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: @color-black;
    margin-bottom: 54px;
  }
}

.functional-food__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: @color-white;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  width: 280px;
  display: block;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px;
    width: 247px;
    padding-left: 22px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 15px;
  }
}

.functional-food__feed-image {
  position: absolute;
  left: 23px;
  top: 165px;
  z-index: 3;

  @media (min-width: @tablet-width) {
    left: -88px;
    top: 200px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    left: 368px;
    top: -82px;
    width: 552px;
    height: 499px;
    z-index: 3;
  }
}
