.main-container {
  background-color: @color-white;
  font-family: @font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  margin: 0;
}

.main-container__functional-food {
  margin-bottom: 20px;
}

.main-container__programs-food {
  margin-bottom: 20px;
}

.main-container__program-info {
  margin-bottom: 20px;
}

.main-container__catalog {
  margin-bottom: 50px;
}

.main-container__catalog-edditional {
  margin-bottom: 35px;
}

.main-container__present {
  margin-bottom: 35px;
}
