.main-footer {
  background-color: @color-basic-grey;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-footer__wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.main-footer__wrapper-link {
  padding-top: 27px;
  min-height: 34px;
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 58px 30px 55px 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 110px;
    padding-top: 59px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__html-academy {
  @media (max-width: @mobile-width-only) {
    margin: 0 auto;
    width: 283px;
  }
}
