/* Навигация */
.navigation {
  display: block;
}

@media (min-width: @tablet-width) {
  .navigation {
    width: 440px;
    min-height: 36px;
  }
}

@media (min-width: @desktop-width) {
  .navigation {
    width: 478px;
    min-height: 40px;
  }
}



@media (min-width: @tablet-width) {
  .navigation__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .navigation__toggle {
    display: none;
  }
}

