.parametrs {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    justify-content: start;
    display: flex;
    flex-direction: column;
    width: 634px;
  }
}

.parametrs__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
    width: 400px;
    height: 77px;
  }
}

.parametrs__item {
  width: 124px;
  position: relative;

  &:not(:last-child) {
    margin-right: 32px;
  }

  @media (min-width: @tablet-width) {
    min-width: 161px;

    &:not(:last-child) {
      margin-right: 44px;
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 162px;
    min-height: 77px;
  }
}

.parametrs__info {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 10px;
  outline: 1px solid @color-special-grey;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    min-height: 60px;
    line-height: 37px;
    padding-top: 16px;
    padding-bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    padding-top: 13px;
    line-height: 37px;
  }
}

.parametrs__info-description {
  margin: 0;
  font-family: @font-arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  background-color: @color-light-grey;
  color: @color-dark-grey;
  text-transform: lowercase;
  width: 82px;
  text-align: center;
  position: absolute;
  top: 46px;
  left: 20px;

  @media (min-width: @tablet-width) {
    width: 132px;
    top: 63px;
    left: 15px;
    font-size: 14px;
    line-height: 14px;
    background-color: @color-white;
  }

  @media (min-width: @desktop-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @color-light-grey;
    left: 9px;
    width: 142px;
  }
}
