.product-editional__wrapper {
  padding-top: 12px;
  padding-bottom: 18px;
  display: grid;
  grid-template-areas: "product"
    "detail"
    "button";
  width: 282px;
  margin: 0 auto;

  border-bottom: 1px solid @color-special-grey;

  &:first-child {
    border-top: 1px solid @color-special-grey;
  }

  @media (min-width: @tablet-width) {
    grid-template-areas: "product detail"
      "button button";
    padding: 24px 35px 29px 35px;
    grid-template-columns: 266px 284px;
    column-gap: 85px;
    row-gap: 20px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 0 15px 0;
    grid-template-columns: 286px 288px 244px;
    column-gap: 38px;
    grid-template-areas: "product detail button";
    width: 896px;
  }
}

.product-editional__link {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
  }
}

.product-editional__name {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @color-black-2;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  grid-area: product;
  padding-left: 3px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    align-self: center;
  }
}

.product-editional__detail {
  margin: 0;
  margin-bottom: 15px;
  width: 282px;
  display: flex;
  justify-content: space-between;
  grid-area: detail;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    margin-bottom: 0;
    margin-left: auto;
    width: auto;
    padding-top: 4px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    margin: 0;
    align-items: center;
    padding-top: 10px;
  }
}

.product-editional__volume {
  font-family: @font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-right: 51px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
    margin-right: 112px;
  }
}

.product-editional__volume--water {
  @media (min-width: @tablet-width) {
    margin-right: 61px;
  }
}

.product-editional__cost {
  font-family: @font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @color-dark-grey;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

.product-editional__cost--one {
  @media (min-width: @desktop-width) {
    margin-right: 8px;
  }
}

.product-editional__button {
  width: 100%;
  padding: 10px;
  grid-area: button;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
