.program-info {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 30px;
    padding-top: 0;
    padding-right: 105px;
    padding-bottom: 47px;
    border-bottom: 1px solid @color-light-grey-2;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    border-bottom: none;
  }
}

.program-info__wrapper {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  width: 279px;
  min-height: 380px;

  @media (min-width: @tablet-width) {
    width: 633px;
    min-height: 689px;
  }

  @media (min-width: @desktop-width) {
    width: 1224px;
    min-height: 374px;
  }
}

.program-info__title {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.program-info__list {
  list-style: none;
  counter-reset: program-info;

  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 279px;
  gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 250px 250px;
    gap: 37px 133px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 76px;
  }
}

.program-info__item {
  display: flex;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 57px;

    &::after {
      position: absolute;
      left: 116px;
      top: -2px;
      counter-increment: program-info;
      content: counter(program-info);
      color: @color-basic-grey;
      font-family: @font-oswald;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      z-index: 1;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 57px;

    &::after {
      left: 114px;
      top: 2px;
    }
  }
}

.program-info__block-icon {
  background-color: @color-basic-green;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.program-info__block-icon--leaf::after {
  content: url("../img/leaf.svg");
  position: absolute;
  left: 16px;
  top: 13px;

  @media (min-width: @tablet-width) {
    left: 25px;
    top: 25px;
  }

  @media (min-width: @desktop-width) {
    left: 25px;
    top: 25px;
  }
}

.program-info__block-icon--water::after {
  content: url("../img/water.svg");
  position: absolute;
  left: 16px;
  top: 13px;

  @media (min-width: @tablet-width) {
    left: 25px;
    top: 25px;
  }

  @media (min-width: @desktop-width) {
    left: 25px;
    top: 25px;
  }
}

.program-info__block-icon--fork::after {
  content: url("../img/fork.svg");
  position: absolute;
  left: 16px;
  top: 13px;

  @media (min-width: @tablet-width) {
    left: 25px;
    top: 25px;
  }

  @media (min-width: @desktop-width) {
    left: 28px;
    top: 25px;
  }
}

.program-info__block-icon--alarm::after {
  content: url("../img/alarm.svg");
  position: absolute;
  left: 16px;
  top: 13px;

  @media (min-width: @tablet-width) {
    left: 25px;
    top: 25px;
  }

  @media (min-width: @desktop-width) {
    left: 23px;
    top: 23px;
  }
}

.program-info__description {
  font-family: @font-arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: @color-dark-grey;
  width: 199px;
  z-index: 2;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 245px;

    br {
      display: inline;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }
}
